nav {
    background-color: lightskyblue;
    display: flex;
    justify-content: space-around;
}

* {
    font-family: sans-serif;
    font-weight: 400;
    color: black;
    text-transform: uppercase;
}

nav a {
    margin: 0;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover {
    background-color: gainsboro;
}

h1 {
    padding: 20px 100px;
}